.footer__link-list {
  color: #FFF;
  margin: 0px 18px 0px 0px;
  list-style: none;
  align-self: start;
}

.footer__link-list:last-of-type {
  margin-bottom: 0px;
  margin-right: 0px;
}

@media screen and (max-width:767px) {
  .footer__link-list {
    margin-bottom: 32px;
  }
}
