.header {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  margin: 28px auto 56px;
  justify-content: space-between;  

}

@media screen and (max-width:1279px) {
    .header {
        max-width: 928px;
        margin-bottom: 48px;
    }
}

@media screen and (max-width:1023px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width:767px) {
    .header {
        max-width: 288px;
        margin-top: 16px;
    }
}