.intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 114px auto 148px;
}

@media screen and (max-width:1023px) {
    .intro {
        max-width: 720px;
        margin: 110px 24px 88px;
    }
}

@media screen and (max-width:767px) {
    .intro {
        max-width: 288px;
        margin: 86px auto 64px;
    }
}