.lead__caption {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 14px;
  margin: 8px 0px 0px 0px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

}

@media screen and (max-width:1023px) {
  .lead__caption {
    align-self: flex-start;
    margin-left: 24px;
  }
}

@media screen and (max-width:767px) {
  .lead__caption {
    margin-left: 16px;

  }
}
